body{
    background: rgb(250, 180, 180);
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
   header{
    background-color: rgb(25, 110, 61);
    height: 230px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
   }
  
   header .mobile{
    display: none;
   }

   header .logo a{
    background-image: url(images/icon.png);
    background-position: center;
    background-size: 300px;
    display: inline-block;
    height: 210px;
    width: 210px;
    position: relative;
    text-indent: -99999999999px;
    top: -10px;
    background-repeat: no-repeat;
    opacity: 600%;
   }

   @media screen and (max-width: 700px) {
    header {
        height: 230px;     
    }
    header .mobile{
        display: inline-block;
    }
    header .desktop{
        display: none;
    }
   }

   section{
    background: rgb(214, 209, 209);
    padding: 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration-color: blue;

   }
   section figure{
    margin: auto;
    text-align: center;
    width: 200px;
   }
   section figure img{
    border-radius: 50%;
    text-transform: capitalize;
    width: 200px;
    box-shadow: 0 8px 10px black;
    border: 1px solid white;
   }
   li{
    display: inline-block;
    margin-right: 28px;
   }
   ul{
    margin: 1px;
    padding: 0;
    list-style-type: none;
   }
    button{
        padding: 10px;
        color: rgb(238, 168, 77);
        position: center;
        
}
    div{
    background-image: url(images/team\ work.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    justify-content: center;
     border-radius: 15px;
}
  
   h1{
        color: goldenrod;
        position: relative;
        top: -31px;
        opacity: 100%;
    }
    h2{
        color: orange;
    }
    .inquiries{
        border-radius: 15px;
        display: inline-block;
        width: 100px;
    }
      .mailto  h3{
            text-align: center;
        }

        footer{
text-align: center;
        }

    

   